@import url("https://fonts.googleapis.com/css2?family=Ultra&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Vollkorn:wght@900&display=swap");
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/*abreviaciones y tipos de familia*/
/*
font-family: 'Vollkorn', serif
font-family: "Ultra", serif;
*/
/*variables de texto y color*/
/* codigo de la pagina*/
body {
  background-color: #003049;
  overflow-x: hidden;
  padding: 2rem;
}

.title-wrapper {
  height: 100vh;
  width: 100vw;
  font-family: "Ultra", serif;
  font-size: 2em;
  border: 2x black solid;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  color: #d62828;
}

.general-description {
  background-color: inherit;
  color: #eae2b7;
  height: auto;
  font-family: "Vollkorn", serif;
  font-size: 2rem;
  margin-bottom: 2rem;
}

.general-description .grid-wrapper {
  display: -ms-grid;
  display: grid;
  gap: 10px;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: 1fr 1fr 1f;
      grid-template-rows: 1fr 1fr 1f;
      grid-template-areas: "description-1 description-1 ." ". . description-2";
}

.general-description .description-1 {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: description-1;
}

.general-description .description-2 {
  -ms-grid-row: 2;
  -ms-grid-column: 3;
  grid-area: description-2;
}

.technologies {
  width: 100%;
  color: #eae2b7;
  height: auto;
  border: 4px #fcbf49 solid;
  border-radius: 9px;
  margin: auto;
  border-radius: 2px solid #fcbf49;
  font-family: "Vollkorn", serif;
}

.technologies .grid-wrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.technologies .technology__title {
  font-size: 2.5rem;
}

.technology__title:nth-child(even) {
  font-size: 2.5rem;
}

.technology__description {
  font-size: 1.5rem;
}
