@import url("https://fonts.googleapis.com/css2?family=Ultra&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Vollkorn:wght@900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
/*abreviaciones y tipos de familia*/
/*
font-family: 'Vollkorn', serif
font-family: "Ultra", serif;
*/
/*variables de texto y color*/
$title-font: "Ultra", serif;
$regular-text: "Vollkorn", serif;
$background-color: #003049;
$background-color-secondary: #fcbf49;
$title-color: #d62828;
$secondary-color: #eae2b7;

/* codigo de la pagina*/

body {
  background-color: $background-color;
  overflow-x: hidden;
  padding: 2rem;
}
.title-wrapper {
  height: 100vh;
  width: 100vw;
  font-family: $title-font;
  font-size: 2em;
  border: 2x black solid;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: $title-color;
}

.general-description {
  background-color: inherit;
  color: $secondary-color;
  height: auto;
  font-family: $regular-text;
  font-size: 2rem;
  margin-bottom: 2rem;
  .grid-wrapper {
    display: grid;
    gap: 10px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1f;
    grid-template-areas:
      "description-1 description-1 ."
      ". . description-2";
  }
  .description-1 {
    grid-area: description-1;
  }
  .description-2 {
    grid-area: description-2;
  }
}

.technologies {
  width: 100%;
  color: $secondary-color;
  height: auto;
  border: 4px $background-color-secondary solid;
  border-radius: 9px;
  margin: auto;
  border-radius: 2px solid $background-color-secondary;
  font-family: $regular-text;
  .grid-wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    align-items: center;
  }
  .technology__title {
    font-size: 2.5rem;
  }
}
.technology__title:nth-child(even) {
  font-size: 2.5rem;
}

.technology__description {
  font-size: 1.5rem;
}
